.au-u-min-height-full {
  min-height: 100vh;
}

.au-u-overflow-auto {
  overflow: auto;
}

.map-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

/* Workaround: Hide the endpoint selector field */
.yasgui .controlbar {
  float: left;
}
.yasgui .tabContextButton {
  position: relative;
  top: 0.4em;
  left: -0.2em;
}
.yasgui .autocompleteWrapper {
  display: none;
}
.au-c-icon.au-c-icon--link-external {
  flex-shrink: 0;
}

td.ellipsis {
  text-wrap: nowrap;
  a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
a.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  span {
    white-space: nowrap;
    max-width: calc(100% - 64px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.vertical-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.vertical-separator {
  width: 1px;
  height: 80%;
  margin: 0.5em;
  background-color: var(--au-divider-color);
}
.multi-line {
  white-space: wrap;
}
button.multi-line {
  height: auto;
  top: -1em;
  position: relative;
}
button.user-selectable {
  user-select: initial;
}
