.au-u-min-height-full {
  min-height: 100vh;
}

.au-u-overflow-auto {
  overflow: auto;
}

.map-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

/* Workaround: Hide the endpoint selector field */
.yasgui .controlbar {
  float: left;
}
.yasgui .tabContextButton {
  position: relative;
  top: 0.4em;
  left: -0.2em;
}
.yasgui .autocompleteWrapper {
  display: none;
}
.au-c-icon.au-c-icon--link-external {
  flex-shrink: 0;
}

td.ellipsis {
  text-wrap: nowrap;
  a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
a.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  white-space: nowrap;
  span {
    white-space: nowrap;
    max-width: calc(100% - 64px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.multi-line {
    white-space: wrap;
    span {
      white-space: wrap;
    }
  }
}
.vertical-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.vertical-separator {
  width: 1px;
  height: 80%;
  margin: 0.5em;
  background-color: var(--au-divider-color);
}
.multi-line {
  white-space: wrap;
}
button.multi-line {
  height: auto;
  position: relative;
}
button.user-selectable {
  user-select: initial;
}
.inline-block {
  display: inline-block;
}

.pre-wrap {
  white-space: pre-wrap;
}
.au-u-flex-grow {
  flex-grow: 1;
}
.au-u-z-1000 {
  z-index: 1000;
}

button.highlighted-annotation,
button.highlighted-annotation:hover {
  border: var(--au-blue-300) solid 1px;
  background: var(--au-blue-100);
  color: var(--au-blue-700);
  font-weight: bold;
  padding: 0 0.2em;
  border-radius: 5px;
  white-space: wrap;
  position: relative;
  line-height: normal;
  overflow: visible;
  height: auto;
  .highlight-info {
    position: absolute;
    top: calc(100% + 0.5em);
    left: 0;
    width: 400px;
    height: fit-content;
    display: none;
    text-align: left;
    font-weight: normal;
  }
  .highlight-info.right {
    left: auto;
    right: 0;
  }
  .highlight-info.visible {
    display: block;
  }
}
.relative {
  position: relative;
}
.max-width-100 {
  max-width: 100% !important;
}
.annotation-location {
  min-width: 40vw;
}
.close-button {
  position: absolute;
  top: 6px;
  right: 0;
}

td {
  vertical-align: middle;
}
.au-c-main-container__sidebar {
  flex-grow: 0.2;
}
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  z-index: 100;
}
