{{page-title "DecideFrontend"}}
<AuApp class="{{if this.showEnvironment 'au-c-app--environment'}}">
  <AuMainHeader
    @brandLink="https://www.vlaanderen.be/nl"
    @homeRoute="index"
    @appTitle={{this.appTitle}}
  >
  </AuMainHeader>
  <AuMainContainer as |main|>
    <main.content>
      <AuToolbar @border="bottom" @size="small" @skin="tint">
        <nav
          aria-label="breadcrumbs"
          class="au-u-flex au-u-flex--between au-u-1-1"
        >
          <ol
            class="au-c-list-horizontal au-c-list-horizontal--breadcrumbs au-u-margin-left-tiny"
          >
            <li class="au-c-list-horizontal__item">
              <AuLink @route="annotations">Annotated data</AuLink>
            </li>
          </ol>
        </nav>
      </AuToolbar>
      <AuBodyContainer>
        {{outlet}}
      </AuBodyContainer>
    </main.content>
  </AuMainContainer>
</AuApp>
<AuToaster />